.footer {
    background-color: $grey;
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}