@font-face {
  font-family: "Poppins";
  src: url(../assets/fonts/poppins/Poppins-Medium.ttf);
}

$font-poppins: "Poppins",
sans-serif;
$dark-blue: #2C3E50;
$dark-blue-hover1: #34485c;
$dark-blue-hover2: #243546;
$turquoise: #18BC9C;
$turquoise-hover1: #25cdab;
$turquoise-hover2: #1f9f85;
$black: #303030; //#282c34;
$black-hover: #444444;
$white: rgb(243, 243, 243);
$light-grey: #EEEEEE;
$light-grey2: #e6e6e6;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  width: 100%;
  background: $light-grey;
  font-family: $font-poppins;
}

.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;
}

li {
  list-style-type: none;
}