@font-face {
  font-family: "Poppins-Medium";
  src: url(../assets/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../assets/fonts/inter/Inter-Regular.ttf);
}

$font1: "Poppins-Medium",
sans-serif;
$blue : #3669A2;
$blue2 : #1d4778;
$dark-blue: #2C3E50;
$dark-blue-hover1: #34485c;
$dark-blue-hover2: #243546;
$turquoise: #18BC9C;
$turquoise-hover1: #25cdab;
$turquoise-hover2: #1f9f85;
$black: #303030;
$black-hover: #444444;
$white: rgb(243, 243, 243);
$white2: #FBFAFD;
$light-grey: #EEEEEE;
$light-grey2: #e6e6e6;
$grey: #E9E9E9;
$dark-grey: #7a7a7a;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: $white;
  font-family: $font1;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.main {
  margin: 0 20%;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50px;

  &.no-nav-bar {
    width: 60%;
    top: 0px;
  }
}



li {
  list-style-type: none;
}

.rewriting-ressources-page,
.rewriting-main-page,
.rewriting-software-page,
.ressources-cards-container,
.rewriting-learning-ressources-page,
.intranet-page,
.logic-main-page,
.lambda-calculus-main-page,
.intranet-write-post-page {
  min-height: 85vh;
  width: 100%;
}


.industrial-applications-page,
.login-page,
.intranet-write-post-page {
  width: 100%;
  min-height: 100vh;

  .footer {
    position: fixed;
    bottom: 0;
  }
}

@media(max-width: 1400px) {
  .main {
    margin: 0 12.5%;
    width: 75%;

    &.no-nav-bar {
      width: 75%;
    }
  }
}

@media(max-width: 850px) {
  .main {
    margin: 0 7.5%;
    width: 85%;

    &.no-nav-bar {
      width: 85%;
    }
  }
}

@media(max-width: 650px) {
  .main {
    margin: 0 5%;
    width: 90%;

    &.no-nav-bar {
      width: 90%;
    }
  }
}